{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% include 'food/food-navigation.html' %}
    <div  class="table-list-link">
        <i class="fa-solid fa-arrow-right"></i>
        <a href="{% url 'common-foods' %}">Table with common foods</a>
    </div>
    <div class="content-section">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Food</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">SAVE</button>
            </div>
        </form>
    </div>
    
{% endblock %}
