{% extends 'home/base.html' %}
{% load static %}
{% block content %}

    {% include 'food/food-navigation.html' %}

    <h2 class="border-bottom">My Foods</h2>

    <div class="buttons create-btn">
        <a class="btn btn-info fw-bolder text-dark mt-2" href="{% url 'food-create' %}">Add new food
            <i class="fa-solid fa-circle-plus"></i>
        </a>
    </div>

    <h4 class="pt-2">Nutrients for 100 grams</h4>
    {% if foods %}
        <table class="food-table">
            <thead>
            <tr>
                <th>Food Name</th>
                <th>Kcal</th>
                <th>Carbs</th>
                <th>Protein</th>
                <th>Fats</th>
                <th>-</th>
                <th>-</th>
            </tr>
            </thead>
            <tbody>
            {% for food in foods %}

                <tr id="food-{{ food.pk }}">
                    <td><a href="{% url 'food-detail' food.pk %}">{{ food.name }}</a></td>
                    <td>{{ food.calories }}</td>
                    <td>{{ food.carbs }}</td>
                    <td>{{ food.protein }}</td>
                    <td>{{ food.fats }}</td>
                    <td>
                        <a class="btn btn-secondary btn-sm" href="{% url 'food-update' food.pk %}">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm" href="{% url 'food-delete' food.pk %}">Delete</a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No foods have been added yet.</p>
    {% endif %}

    <script src="{% static 'js/food/foodListScroll.js' %}"></script>
{% endblock %}
