{% extends "home/base.html" %}
{% block content %}
    {% include 'food/food-navigation.html' %}
    <div class="buttons create-btn">
        <a class="btn btn-info fw-bolder text-dark mt-2" href="{% url 'food-create' %}">Add new food
            <i class="fa-solid fa-circle-plus"></i>
        </a>
    </div>
    <h2>{{ food.name }} 100 grams</h2>
    <table class="food-table">
        <thead>
        <tr>
            <th>Food Name</th>
            <th>Calories</th>
            <th>Carbs</th>
            <th>Protein</th>
            <th>Fats</th>
            <th>-</th>
            <th>-</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{% url 'food-detail' food.pk %}">{{ food.name }}</a></td>
                <td>{{ food.calories }}</td>
                <td>{{ food.carbs }}</td>
                <td>{{ food.protein }}</td>
                <td>{{ food.fats }}</td>
                <td>
                    <a class="btn btn-secondary btn-sm" href="{% url 'food-update' object.pk %}">Edit</a>
                </td>
                 <td>
                    <a class="btn btn-danger btn-sm" href="{% url 'food-delete' object.pk %}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock content %}
