<div class="food-links">
    <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'food-create' %}">Add Food</a></li>
            <li><a href="{% url 'food-list' %}">Foods</a></li>
            <li><a href="{% url 'meal-create' %}">Add Meal</a></li>
            <li><a href="{% url 'meal-list' %}">Meals</a></li>
            <li><a href="{% url 'mealfood-create' %}">Add Food to Meal</a></li>
            <li><a href="{% url 'mealfood-list' %}">Meal-Food</a></li>
            <li><a href="{% url 'user_meals' request.user %}">Total Nutrients</a></li>
        {% endif %}
    </ul>
</div>