{% extends 'home/base.html' %}
{% block content %}
    <h1>My foods</h1>

    <table>
        <thead>
        <tr>
            <th>Food Name</th>
            <th>Quantity (g)</th>
            <th>Calories</th>
            <th>Carbs</th>
            <th>Protein</th>
            <th>Fats</th>
        </tr>
        </thead>
        <tbody>
        {% for food in foods %}

            <tr>
                <td><a href="{% url 'food-detail' food.pk %}">{{ food.name }}</a></td>
                <td>100 gr.</td>
                <td>{{ food.calories }}</td>
                <td>{{ food.carbs }}</td>
                <td>{{ food.protein }}</td>
                <td>{{ food.fats }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}
