{% extends 'home/base.html' %}
{% block content %}
    <h1>My Meals</h1>
    {% if meals %}
        <table>
            <thead>
            <tr>
                <th>Meal Name</th>
                <th>-</th>
                <th>-</th>
            </tr>
            </thead>
            <tbody>
            {% for meal in meals %}
                <tr>
                    <td id="meal-{{ meal.pk }}" class="list-group-item">
                        <a href="{% url 'meal-detail' meal.pk %}">{{ meal.meal_type }}</a>
                    </td>
                    <td><a class="btn btn-secondary btn-sm" href="{% url 'meal-update' meal.pk %}">Edit</a></td>
                    <td>-</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    {% endif %}

{% endblock %}
