{% extends 'home/base.html' %}
{% block content %}
    <h1>My Meals</h1>

    <div class="buttons create-btn">
        <a class="btn btn-info fw-bolder text-dark" href="{% url 'meal-create' %}">Add meal</a>
    </div>
    {% if meals %}
        <table class="food-table">
            <thead>
            <tr>
                <th>№</th>
                <th>Meal Name</th>
                <th>-</th>
                <th>-</th>
            </tr>
            </thead>
            <tbody>
            {% for meal in meals %}

                <tr>
                    <td>{{ meal.order_number }}</td>
                    <td id="meal-{{ meal.pk }}">
                        <a href="{% url 'meal-detail' meal.pk %}">{{ meal.meal_type }}</a>
                    </td>
                    <td><a class="btn btn-secondary btn-sm" href="{% url 'meal-update' meal.pk %}">Edit</a></td>
                    <td><a class="btn btn-danger btn-sm" href="{% url 'meal-delete' meal.pk %}">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    {% else %}
        <p>No added meals yet</p>
    {% endif %}

{% endblock %}
