{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    {% include 'food/food-navigation.html' %}
    <h2 class="border-bottom">Total Nutrients</h2>
    
    <div class="user-meals-total">
    {% for username, meals in daily_macronutrients.items %}

        {% for meal_type, details in meals.items %}
            {% if meal_type != "Overall Total" %}
                <h4>
                    <a href="{% url 'meal-detail' details.Meal.pk %}">
                        {{ meal_type }}
                    </a>
                </h4>
                <table>
                    <thead>
                    <tr>
                        <th class="food-name">Food Name</th>
                        <th>Grams</th>
                        <th>Kcal</th>
                        <th>Carbs</th>
                        <th>Protein</th>
                        <th>Fats</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for food, quantities in details.Foods.items %}
                        {% for quantity, nutrients in quantities.items %}
                            <tr>
                                <td class="food-name"><a href="{% url 'food-detail' food.pk %}">{{ food.name }}</a></td>
                                <td>{{ quantity }}</td>
                                <td>{{ nutrients.Calories|floatformat:2 }}</td>
                                <td>{{ nutrients.Carbs|floatformat:2 }}</td>
                                <td>{{ nutrients.Protein|floatformat:2 }}</td>
                                <td>{{ nutrients.Fats|floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    <tr style="font-weight: bold;">
                        <td colspan="2">Total for {{ meal_type }}</td>
                        <td>{{ details.Totals.Calories|floatformat:2 }}</td>
                        <td>{{ details.Totals.Carbs|floatformat:2 }}</td>
                        <td>{{ details.Totals.Protein|floatformat:2 }}</td>
                        <td>{{ details.Totals.Fats|floatformat:2 }}</td>
                    </tr>
                    </tbody>
                </table>
            {% else %}
                <div class="overall-total">
                    <h3>Total:</h3>
                    <table>
                        <thead>
                        <tr>
                            <th>-</th>
                            <th>Kcal</th>
                            <th>Carbs</th>
                            <th>Protein</th>
                            <th>Fats</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><b>Total</b></td>
                            <td class="calories-total">{{ details.Calories|floatformat:2 }}</td>
                            <td class="carbs-total">{{ details.Carbs|floatformat:2 }}</td>
                            <td class="protein-total">{{ details.Protein|floatformat:2 }}</td>
                            <td class="fats-total">{{ details.Fats|floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <td><b>My Goal</b></td>
                            <td class="calories-goal">{{ userprofile.calories|floatformat:2 }}</td>
                            <td class="carbs-goal">{{ userprofile.carbs|floatformat:2 }}</td>
                            <td class="protein-goal">{{ userprofile.protein|floatformat:2 }}</td>
                            <td class="fats-goal">{{ userprofile.fats|floatformat:2 }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            {% endif %}
        {% endfor %}
    {% endfor %}

    <script src="{% static 'js/food/nutritionCompare.js' %}"></script>
    </div>
{% endblock %}
 <class>=food-name</class>