{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    {% include 'food/food-navigation.html' %}
    <h2 class="border-bottom">Total Nutrients</h2>
    <div class="user-meals-total">
        {% for username, meals in daily_macronutrients.items %}

            {% for meal_type, details in meals.items %}
                {% if meal_type != "Overall Total" %}
                    <h4>
                        <a href="{% url 'meal-detail' details.Meal.pk %}">
                            {{ meal_type }}
                        </a>
                    </h4>
                    <table class="nutrients-table">
                        <thead>
                        <tr>
                            <th class=>Food Name</th>
                            <th>Grams</th>
                            <th>Kcal</th>
                            <th>Carbs</th>
                            <th>Protein</th>
                            <th>Fats</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for food, quantities in details.Foods.items %}
                            {% for quantity, nutrients in quantities.items %}
                                <tr>
                                    <td class="food-name"><a href="{% url 'food-detail' food.pk %}">{{ food.name }}</a>
                                    </td>
                                    <td class="food-quantity">{{ quantity }}</td>
                                    <td class="food-calories">{{ nutrients.Calories|floatformat:2 }}</td>
                                    <td class="food-carbs">{{ nutrients.Carbs|floatformat:2 }}</td>
                                    <td class="food-protein">{{ nutrients.Protein|floatformat:2 }}</td>
                                    <td class="food-fats">{{ nutrients.Fats|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        <tr class="bg-info" style="font-weight: bold;">
                            <td class="nutrients-total" colspan="2">Total for {{ meal_type }}</td>
                            <td class="nutrients-total">{{ details.Totals.Calories|floatformat:2 }}</td>
                            <td class="nutrients-total">{{ details.Totals.Carbs|floatformat:2 }}</td>
                            <td class="nutrients-total">{{ details.Totals.Protein|floatformat:2 }}</td>
                            <td class="nutrients-total">{{ details.Totals.Fats|floatformat:2 }}</td>
                        </tr>
                        </tbody>
                    </table>
                {% else %}
                    <div class="overall-total">
                        <h3 class="text-primary">TOTAL</h3>
                        <table class="nutrients-table-total">
                            <thead>
                            <tr>
                                <th>-</th>
                                <th>Kcal</th>
                                <th>Carbs</th>
                                <th>Protein</th>
                                <th>Fats</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="bg-success">
                                <td><b>TOTAL</b></td>
                                <td class="calories-total nutrients-total">{{ details.Calories|floatformat:2 }}</td>
                                <td class="carbs-total nutrients-total">{{ details.Carbs|floatformat:2 }}</td>
                                <td class="protein-total nutrients-total">{{ details.Protein|floatformat:2 }}</td>
                                <td class="fats-total nutrients-total">{{ details.Fats|floatformat:2 }}</td>
                            </tr>
                            <tr class="bg-primary">
                                <td><b>MY GOAL</b></td>
                                <td class="calories-goal nutrients-total">{{ userprofile.calories|floatformat:2 }}</td>
                                <td class="carbs-goal nutrients-total">{{ userprofile.carbs|floatformat:2 }}</td>
                                <td class="protein-goal nutrients-total">{{ userprofile.protein|floatformat:2 }}</td>
                                <td class="fats-goal nutrients-total">{{ userprofile.fats|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td><b>Grams diff</b></td>
                                <td class="calories-diff-grams"></td>
                                <td class="carbs-diff-grams"></td>
                                <td class="protein-diff-grams"></td>
                                <td class="fats-diff-grams"></td>
                            </tr>
                            <tr>
                                <td><b>Percent diff</b></td>
                                <td class="calories-diff-percent"></td>
                                <td class="carbs-diff-percent"></td>
                                <td class="protein-diff-percent"></td>
                                <td class="fats-diff-percent"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <button id="save-nutrients">Save Nutrients</button>

        <span class="username" style="display: none;">{{ user }}</span>
        <script src="{% static 'js/food/nutritionCompare.js' %}"></script>

        <script>
            const saveUserNutrientsURL = "{% url 'save_user_nutrients' %}";
        </script>
        <script src="{% static 'js/food/saveUserNutrients.js' %}"></script>

    </div>
{% endblock %}

