{% extends "home/base.html" %}
{% block content %}
    <h1>Welcome to FitnessApp</h1>
    <h5>This app helps you stay on top of your daily nutrition goals.
        Easily add foods, create meals, and track your progress!
    </h5>
    <ul class="pt-2 pb-3">
        <li>Track your daily nutrients (calories, carbs, protein, and fats).</li>
        <li>Create and organize custom foods and meals.</li>
        <li>Set personalized goals to stay healthy and fit.</li>
    </ul>
    {% if user.is_authenticated %}
        <h3>Foods and Meals</h3>
        <ul class="list-inline">
            <li class="list-group-item"><a class="nav-item nav-link text-dark" href="{% url 'food-list' %}">Foods</a>
            </li>
            <li class="list-group-item"><a class="nav-item nav-link text-dark" href="{% url 'meal-list' %}">Meals</a>
            </li>
            <li class="list-group-item"><a class="nav-item nav-link text-dark" href="{% url 'mealfood-list' %}">Meal-Food</a>
            </li>
            <li class="list-group-item"><a class="nav-item nav-link text-dark"
                                           href="{% url 'user_meals' request.user %}">Total Nutrients</a></li>
        </ul>
    {% else %}
        <div>
            <a class="btn btn-primary mt-4  " href="{% url 'login' %}">Login</a>
            <a class="btn btn-info mt-4  " href="{% url 'register' %}">Register</a>
        </div>
    {% endif %}

{% endblock %}
