table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.food-table {
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 3px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.overall-total {
    margin-top: 20px;
}


@media (max-width: 450px) {
    th, td {
        font-size: 14px;
    }

    .btn-sm {
        padding: 4px;
    }
}
